{% extends "basetemplate.html" %}
{% from "_formHelpers.html" import render_field %}
{% block title %}
Transcations
{% endblock %}


{% block content %}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row m-t-30">
            <div class="col-md-12">
                <form method="post" class="">
                    {{ form.csrf_token }}
                    <div class="card">
                    <div class="card-header">
                        <strong>Edit</strong> Person
                    </div>
                    <div class="card-body card-block">
                            {{ render_field(form.AccountID) }}
                            {{ render_field(form.PersonId) }}
                            {{ render_field(form.Amount) }} 
                            {{ render_field(form.Datum) }} 
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Create
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>
                </div>  
            </form> 
                  
            </div>
        </div>        
    </div>
</div>

{% endblock %}